.poi-icon {
    width: 30px;
    height: 30px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.input-icon {
    width: 20px;
    height: 20px;
}

.help-icon {
    width: 2rem;
    height: 2rem;
    display: inline-block;
}

.poi-envelope {
    background-image: url('icons/ic_admin_mail.png');
}

.poi-text {
    background-image: url('icons/ic_text_field.png');
}

.poi-quotes {
    background-image: url('icons/ic_quotes.png');
}

.poi-hashtag {
    background-image: url('icons/ic_hashtag.png');
}

.poi-trashcan {
    background-image: url('icons/ic_trashcan.png');
}

.poi-question {
    background-image: url('icons/ic_question.png');
}

.poi-undo {
    background-image: url('icons/ic_undo.png');
}

.poi-menu-left {
    background-image: url('icons/ic_menu_left.png');
}

.ctrl-zoom-in {
    background-image: url('icons/ic_add.png');
}

.ctrl-zoom-out {
    background-image: url('icons/ic_remove.png');
}

.ctrl-rotate-left {
    background-image: url('icons/ic_rotate_left.png');
}

.ctrl-rotate-right {
    background-image: url('icons/ic_rotate_right.png');
}

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/

/*.poi-envelope {*/
    /*background-image: url('icons/ic_admin_mail.png');*/
/*}*/
