html {
    font-size: 12px;
}

body {
    height: 100vh;
}

input {
    height: 25px;
}

.form-control {
    font-size: 1rem;
    height: 2rem;
}

.btn {
    font-size: 1.1rem;
}

input[type='checkbox'] {
    height: auto!important;
}

.button-bar {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 600px;
    text-align: center;
    width: inherit;
    display: inline-block;
}

.button-bar-button {
    min-width: 150px;
}

.button-bar-parent {
    text-align: center;
}

.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default {
    color: #fff;
    background-color: #020000;
}

.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open > .dropdown-toggle.btn-default.focus,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover {
    color: #fff;
    background-color: #020000;
}

/* Move controls */
#controls-section {
    position: absolute;
    right: 0;
    bottom: 20px;
    right: 20px;
    display: none;
}

#controls-section ul {
    list-style: none;
}

.controls-btn {
    font-size: 2.1rem;
    background-color: #ffffff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    box-shadow: 0px 2px #A9A9A9;
    margin: 5px;
    cursor: pointer;
    font-weight: 100;
    padding: 4px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}

.controls-btn.ctrl-rotate-left {
    margin-left: -30px;
    text-align: left;
}

.controls-btn.ctrl-rotate-right {
    margin-left: 20px;
}


/* status bar */

#status_bar_container {
    text-align: center;
    /*margin: auto;*/
    max-width: 600px;
    width: 40%;
}

#status_bar_content {
    background-color: rgba(0, 0, 0, 0.4);
    border: 0;
    color: #ffffff;
    max-width: 600px;
    height: 25px;
    line-height: 25px;
    margin-top: 30px;
    font-size: 1.2rem;
    padding-top: 1px;
}

.buttons_row {
    width: 300px;
    text-align: left;
    margin-top: 30px;
}

.floor_select_btn {
    background-color: #fcfefe;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
    border: 0px;
    width: 50%;
    text-align: center;
}

.col-sm floor_select_btn.map_view {
    text-align: center;
}

.map_view {
    padding: 5px;
    color: #7d7d7e;
    border-right: 1px solid #7d7d7e;
}

#bldg-floor-select {
    padding: 5px;
    width: 100%;
    border: 0;
    border-left: 1px solid lightgray;
}

.select_wrapper {
    pointer-events: all;
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding: 1px;
}

.floor_select_btn * {
    pointer-events: all;
    color: #2c7dca!important;
}

.floor_select_btn .select2 {
    width: 100%!important;
}

.floor_select_btn .select2-selection {
    border-radius: 0!important;
    border: 0!important;
}

.select2-search.select2-search--dropdown{
    display:none;
}

.select2-results * {
    pointer-events: all!important;
}

.hidden_selector {
    display: none;
}